<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>

    <link rel="stylesheet" href="/public/styles/index.css" />
  </head>
  <body>
    <a href="/src/viewa/index.html"><h1>Home></h1></a>
    <a href="/src/views/page.dois.html">Pagina Dois</a>
    <nav>
        <ul>
        <li><a href="/src/views/index.html">Home</a></li>
        <li><a href="/src/views/page.dois.html">About</a></li>
        </ul>
    </nav>

  </body>
</html>